.croix {
    width: 50px;
    height: 50px;
    background-color: darkgrey;
    position: relative;
    cursor: pointer;
}

.croix #l1 {
    background-color: black;
    position: absolute;
    top: 25px;
    left: 10px;
    width: 30px;
    height: 2px;
}

.croix #l2 {
    background-color: black;
    position: absolute;
    top: 10px;
    left: 25px;
    width: 2px;
    height: 30px;
}