#aide {
    position: relative;
    font-family: 'Sairagros', sans-serif;
    font-size: 15px;
    color:#82c46c;
    display: none;
}
#croix{
    cursor: pointer;
    color: #82c46c;
    font-size: xx-large;
    position: absolute;
    top: 25px;
    left: 90%;
    float: right;
}
#croix:hover{
    rotate: 25deg;
}
#croix:not(:hover){
    rotate: 0deg;
}
.fleche, .circle, .pulse, .ga {
  box-sizing: border-box;
}
.fleche {
    cursor:pointer;
    height: 120px;
    width: 120px;
    margin: 0 auto 0;
    position: absolute;
    left: 45%;
    top: 0%;
    margin: 0%;
    padding: 0%;
    border-radius: 100px;
    -webkit-box-shadow: 10px 10px rgb(128, 128, 128); 
    -moz-box-shadow: 10px 10px rgb(128, 128, 128); 
    box-shadow: 10px 10px rgb(128, 128, 128);
    animation-name:circle;
    animation-duration:1s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-play-state:running;
    -webkit-animation-name:circle;
    -webkit-animation-duration:1s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-delay:0s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:normal;
    -webkit-animation-play-state:running;            
}
.circle {
    cursor:pointer;
    background-color:#FAF0E6;
    height: 120px;
    width: 120px;
    display: block;
    border: 5px solid #82c46c;
    border-radius: 100px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    animation-name:circle;
    animation-duration:1s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-play-state:running;
    -webkit-animation-name:circle;
    -webkit-animation-duration:1s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-delay:0s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:normal;
    -webkit-animation-play-state:running;
}
.ga {
    cursor:pointer;
    rotate: 180deg;
    font-size: 42px;
    color: #82c46c;
    bottom: 27px;
    position: absolute;
    left: 50%;
    margin-left: -18px;
    animation-name:arrow;
    animation-duration:1s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-play-state:running;
    -webkit-animation-name:arrow;
    -webkit-animation-duration:1s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-delay:0s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:normal;
    -webkit-animation-play-state:running;
}
@keyframes arrow
{
	0%   {bottom:0;}
	75% {bottom:90px;}
	100% {bottom:0;}
}
@-webkit-keyframes arrow
{
    0%   {bottom:0;}
    75% {bottom:90px;}
    100% {bottom:0;}
}
@keyframes circle
{
    0%   {height:120px;}
    10% {height: 120px;}
    50% {height: 130px;}
    75% {height: 150px;}
    90% {height: 130px;}
    100% {height: 120px;}
}
@-webkit-keyframes circle
{
    0%   {height:120px;}
    10% {height: 120px;}
    50% {height: 130px;}
    75% {height: 150px;}
    90% {height: 130px;}
    100% {height: 120px;}
}